<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= form_for @meme, url: {action: "create"}, html:{class:""} do |f| %>
        <div class="form-group">
          <%= label_tag(:name, "Name:")%>
          <%= f.text_field :name, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= label_tag(:description, "Description:")%>
          <%= f.text_area :description, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= label_tag(:meme_img, "Upload an image:")%>
          <%= f.file_field :meme_img, class: "form-control"%>
        </div>
          <%= f.submit "Create Meme", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
