<%= javascript_include_tag 'meme', 'data-turbolinks-track' => false%>
<%= image_tag @meme.img%>
<h1><%= @meme.name %></h1>
<div id="meme-score">
  <h2>Score: <%= @meme.score() %></h2>
  <%= button_to 'Updoot', upvote_meme_path, disabled: @upvote%>
  <%= button_to 'Downdoot', downvote_meme_path, disabled: @downvote%>
</div>

<div id='meme-info'>
  <% if @prices.size() > 0 %>
      <ul>
        <li>Last Price: $<%= @prices.last[1]%> (as of <%= @prices.last[0]%>)</li>
        <li>Today's Change: </li>
        <li>Volume: <%= @meme.volume%></li>
        <li>Bid Size: $<%= @prices.last[1]%>x(some bid amount)</br>
            <!--<input type="text" value="0.0"></input>-->
            <%= form_tag(controller: "meme", action: "buy", method: "post", class: "buy-meme") do %>
              <%= label_tag :buy_amt, 'Buy Amount:'%>
              <%= submit_tag '+', type: 'button'%>
              <%= submit_tag '-', type: 'button'%>
              <%= text_field_tag :buy_amt , 1.0%>
              <%= submit_tag 'BUY' %>
            <% end %>
        </li>
        <li>Current holdings:</br>
            <input type="text" value="0.0"></input>
            <button>+</button>
            <button>-</button>
            <%= button_to 'SELL', sell_meme_path, form_class: "sell-meme"%>
        </li>
      </ul>

      <div id='trend'>
        <%= line_chart @prices%>
      </div>

  <% else %>
    <h1>No Meme info.</h1>
  <% end %>
</div>
