<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Meme Porfolio</h1>
    </div>
  </div>

  <div class="row">
    <% @portfolios.each do |u| %>
    <div class="col-lg-3 col-md-3 col-sm-4 portfolio-meme">
			<div class="thumbnail">
        <%= link_to image_tag(u.meme.meme_img_url, class:'top-meme'), u.meme%>
        <div class="caption">
          <ul class="list-group">
            <li class="list-group-item active"><%= link_to u.meme.name, u.meme%></li>
            <li class="list-group-item">Last transaction: <%= u.updated_at%></li>
            <li class="list-group-item">Current Shares: <%= u.amt%></li>
            <li class="list-group-item">Total Cost: <%= u.total_cost%></li>
            <li class="list-group-item">Cost per share: <%= u.total_cost/u.amt%></li>
            <li class="list-group-item">Current stock price: <%= u.meme.current_price.price%></li>
            <li class="list-group-item">Price gain/loss: <%= u.meme.price_difference(u.total_cost/u.amt)%></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
