<!DOCTYPE html>
<html>
<head>
  <title> M.E.M.E - Meme Equity Market Ecommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-fixed-top navbar-light bg-faded">
  <div class="navbar-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'M.E.M.E.', root_path , class: "navbar-brand"%>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'LOGOUT', destroy_user_session_path, class:"nav-link", method: :delete%>
        </li>
        <li class="nav-item">
          <%= link_to 'VIEW PORTFOLIO', user_userholdings_path(user_id: current_user.id), class: "nav-link"%>
        </li>
        <!--<li>Hey, <%= current_user.email %></li>
        <li>Balance: <%= current_user.balance%> </li>-->
      <% else %>
        <li class="nav-item">
          <%= link_to 'LOGIN', new_user_session_path, method: :get , class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'REGISTER', new_user_registration_path, method: :get, class:"nav-link"%>
        </li>
      <% end %>
        <li class="nav-item">
          <%= link_to 'ABOUT', home_about_path, class:"nav-link", method: :get%>
        </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

<!-- Flash messages for Devise -->
<div class="alert alert-danger alert-fixed">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= alert %>
</div>
<div class="alert alert-success alert-fixed alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= notice%>
</div>

<%= yield %>

<hr>
<footer class="footer text-muted">
  <blockquote class="blockquote">
		<!--<h2>"With dank memes, comes great responsbility"-Albert Einstein 1727</br></h2>-->
		<!--<h2> Steel beams can't melt dank memes.</h2>-->
		<p class="mb-0">"If you gaze long into the memes, the memes also gaze into you."</p>
		<footer class="blockquote-footer">Nietzsche</footer>
  </blockquote>
</footer>

</body>
</html>
